@page
@model RazorPagesIdentityCrud.Pages.Urunler.YeniModel
@{
}
<h1>Ekle</h1>
<form class="form" method="post">
    <input asp-for="Urun.UrunAd" class="form-control mb-2" placeholder="Ürün Adı giriniz." value="" />
    <span asp-validation-for="Urun.UrunAd"></span>
    <input asp-for="Urun.BirimFiyat" class="form-control mb-2" placeholder="Birim Fiyat giriniz." value=""/>
    <span asp-validation-for="Urun.BirimFiyat"></span>
    <button class="btn btn-success">Ekle</button>
</form>